# Python virtual environment
venv/
__pycache__/

# Environment variables file
.env
public

brand_assets/
images/
videos/
dump/
# VSCode settings
.vscode/

.checkpoints/
*.mp4
*.mp3
/test_images
/temp_videos
/merged_outputs
/outputs
Roboto/